[Unit]
Description=The server where the cat runs across the rainbow
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=PORT={{ app_port }}
ExecStart=java -jar {{ app_dir }}/{{ app_file }} SuccessExitStatus=143
User=cat-server-user
Restart=on-failure
RestartSec=10
